.Rproj.user
.DS_Store
.Rhistory
Assignments/Exams
Assignments/Homework
Assignments/Labs
Assignments/to_Maddie
Assignments/to_TA
Assignments/Grades
Students/
Supplementary-Materials/
prior-iterations/
Lectures/old/
Readings/hard_copies/
Assignments/Presentations/student_slides